---
layout: page
title: 
---




<p>
<img src="fishing.jpeg" alt="me" style="float:right;width:185px;height:185px;margin-left:30px">I am an Assistant Professor (term-limited) in the Department of Statistics at Columbia University.
My research interests fall within a wide spectrum of high-dimensional statistics, and their applications in biomedical sciences. 
I am also embarking on several new directions including empirical Bayes, optimal transport, generative models. 
  
<p>I obtained my PhD from the <a href="https://statistics.rutgers.edu">Department of Statistics</a> at Rutgers University, advised by Professor <a href="https://statweb.rutgers.edu/cunhui/">Cun-Hui Zhang</a>.
Then I spent two years at Yale University, working as a postdoc supervised by Professor <a href="https://ysph.yale.edu/profile/heping-zhang/">Heping Zhang</a>. 
Prior to US, I was an undergraduate at Peking University studying statistics and biomedical sciences (double majors).</p>
</p>


<!-- {% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="" %}
{% endif %} -->
