<!--
---
layout: page
title: ""
---
-->
<!DOCTYPE html>
<html>
<head>
<style>
img {
  float: right;
}

</style>
</head>
<body>
  
<h2>Float Right</h2>

<p><img src="atyale.jpeg" alt="me" style="width:170px;height:170px;margin-left:15px;">I obtained my PhD from the <a href="https://statistics.rutgers.edu">Department of Statistics</a> at Rutgers University, advised by Professor <a href="https://statweb.rutgers.edu/cunhui/">Cun-Hui Zhang</a>.
Currently I am a postdoc at Yale University, working with Professor <a href="https://ysph.yale.edu/profile/heping-zhang/">Heping Zhang</a>. 
Prior to US, I was an undergraduate at Peking University studying statistics and biomedical sciences (double majors).</p>

<p>My research interests fall within a wide spectrum of high-dimensional statistics inlucding but not limited to 
compressed sensing, sparse phase retrieval, nonparametric models, statistical inferences, algorithms for high-dimensional problems.  
I am also bridging statistical methodology/theory with biomedical sciences (genetics, epigenetics, neuroscience, cancer research, etc), 
applied mathematics (representation theory), and deep learning.</p>

</body>
</html>
<!-- {% if site.show_excerpts %}
  {% include home.html %}
{% else %}
  {% include archive.html title="" %}
{% endif %} -->
